$breakpoints: (
    sm: 600px,
    md: 815px,
    lg: 990px,
    xl: 1200,
    xxl: 1400px
);

$yellow: #FFD400;
$purple: #7876C1;
$darkPurple: #3A3468;
$green: #8ABEAC;
$darkGreen: #6A9B97;
$greenLight: #AFE4D8;
$grey: #808080;

$maxWidth: 1230px;
$maxWidthContent: 780px;

$weightLight: 300;
$weightMedium: 400;
$weightNormal: 500;
$weightBold: 700;

$fontFuturaBold: futura-pt-bold, arial, sans-serif;
$fontFutura: futura-pt, arial, sans-serif;
